.border{
    border-bottom: 0.01rem solid black;
    margin-right: 1rem;
}
.patientname{
    color: #004485; 
    font-size: 1rem;
    cursor: pointer;
    display: inline-block;
}

.appointmentTitle{
    font-weight: bold;
    font-size: 0.8rem;
}

.relativePosition{
    position: relative;
}

.subject{
    display: inline-block;
}

.guestWaitingText{
    border: 0.01rem solid black;
    border-radius: 100rem;
    width: 10.4rem;
    font-weight: 500;
}

.helpIcon{
    position: absolute;
    left: 102%;
    bottom: 0.4rem;
}

.groupIcon{
    position: absolute;
    left: 0.9rem;
    bottom: 0.1rem;
}

.clockIcon{
    position: absolute;
    left: 0.4rem;
    bottom: 0.1rem;
}