.thp-content-icon__container .thp-content-icon__checkmark {
    border-width: 2px;
}

.thp-content-icon__checkmark {
    display: inline-flex;
    align-items: center;
    text-align: center;
    border: 3px solid #fff;
    border-radius: 50%;
    top: -5px;
    right: -8px;
    box-sizing: content-box;
    width: 20px;
    height: 20px;
}

.thp-content-icon__check-icon {
    display: block;
    margin-top: -6%;
}

.thp-content-icon__main {
    min-width: 42px;
    width: 42px;
    height: 42px;
}