:root {
  --dxp-g-neutral-3: #666;
}

.brand p {
  color: var(--dxp-g-brand) !important;
}

.no-horizontal-padding, .my-account-data .approvals article.slds-card, .my-account-data .my-account-data-profile .contact-information .slds-card .slds-card__body .slds-p-horizontal_medium, .my-account-data .my-account-data-profile .password-reset .slds-card .slds-card__body .slds-p-horizontal_medium, .my-account-data .my-account-data-profile .contact-information .slds-card .slds-card__body, .my-account-data .my-account-data-profile .password-reset .slds-card .slds-card__body, .my-account-data .my-account-data-profile .contact-information .slds-card .slds-card__header, .my-account-data .my-account-data-profile .password-reset .slds-card .slds-card__header, .my-account-data .my-account-data-profile .contact-information .slds-card, .my-account-data .my-account-data-profile .password-reset .slds-card {
  padding-left: 0;
  padding-right: 0;
}

.no-vertical-padding, .my-account-data .approvals article.slds-card, .my-account-data .my-account-data-profile .contact-information .slds-card .slds-card__header, .my-account-data .my-account-data-profile .password-reset .slds-card .slds-card__header, .my-account-data .my-account-data-profile .contact-information .slds-card, .my-account-data .my-account-data-profile .password-reset .slds-card, .my-account-data .my-account-data-nav lightning-vertical-navigation-item.slds-p-vertical_small {
  padding-bottom: 0;
  padding-top: 0;
}

.sticky {
  position: relative !important;
}

body {
  overflow-x: hidden;
}

.full_width {
  display: block;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  max-width: 100vw;
}

.slds-checkbox [type=checkbox] + .slds-checkbox--faux,
.slds-checkbox [type=checkbox] + .slds-checkbox__label .slds-checkbox--faux,
.slds-checkbox [type=checkbox] + .slds-checkbox__label .slds-checkbox_faux,
.slds-checkbox [type=checkbox] + .slds-checkbox_faux,
.slds-checkbox [type=checkbox] ~ .slds-checkbox--faux,
.slds-checkbox [type=checkbox] ~ .slds-checkbox_faux {
  border-color: #c9c9c9 !important;
}

.dxp-content-layout-site-logo {
  background-position: 50%;
}

.slds-button--brand,
.slds-button_brand,
.toast-container h2,
.toast-container .slds-icon.slds-icon_small {
  color: var(--dxp-g-brand-contrast) !important;
}

.b2b_home header[class*=lwc-] {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  padding: 0 1rem 1rem 1rem !important;
}
.b2b_home .layout-header-desktop {
  padding-top: 1rem;
}
.b2b_home .slds-icon-utility-user .slds-icon.slds-icon-text-default.slds-icon_xx-small {
  width: 19px;
  height: 20px;
  line-height: 1;
  margin-top: 0.1rem;
}
.b2b_home .wishlist-shortcut-wrapper a[class*=lwc-] svg[class*=lwc-] {
  transform: scale(0.75);
}
.b2b_home .header-cart a[class*=lwc-] svg[class*=lwc-] {
  transform: scale(0.9);
}
.b2b_home nav[class*=lwc-] button:hover[class*=lwc-],
.b2b_home nav[class*=lwc-] a:hover[class*=lwc-] {
  background-color: transparent;
  color: var(--dxp-g-brand);
}
.b2b_home.einstein .slds-align_absolute-center {
  display: inherit;
}
.b2b_home.einstein .fieldsArea .slds-text-heading_medium {
  font-weight: 500;
  color: #333;
}
.b2b_home.einstein .price-col-section .negotiated-price.price-label {
  color: var(--dxp-g-brand);
}
.b2b_home.einstein .price-col-section .original-price.price-label {
  color: #666;
}
.b2b_home.einstein .menu-container .menu {
  width: 100%;
}
.b2b_home.einstein .cardContainerGrid .imageArea {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}
.b2b_home.einstein .cardContainerGrid .imageArea:hover {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.25);
}
.b2b_home.einstein .cardContainerGrid .priceArea {
  justify-self: left;
  display: flex;
}
.b2b_home.einstein.b2b_home .slds-gutters .slds-col {
  padding-right: 0;
  padding-left: 0;
}
.b2b_home.einstein.b2b_home .fieldsArea {
  justify-content: left;
}
.b2b_home.einstein.b2b_home .cardContainerGrid .priceArea {
  justify-self: left;
  display: flex;
}

.globalNav {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  max-width: 100vw;
  background-color: rgba(28, 28, 28, 0.9);
}
.globalNav .cb-outputRichText-container.ql-editor {
  width: var(--dxp-s-section-columns-max-width);
  max-width: 95%;
  margin: auto;
  line-height: 1.8rem;
}

.benefits .card .main-content-container {
  padding: 0rem 1rem;
}
.benefits .card .slds-size_1-of-3 {
  width: 25%;
}
.benefits .card .slds-size_2-of-3 {
  width: 75%;
}

.feature.comm-section-container {
  padding: 0 !important;
}
.feature .columns-content {
  max-width: 100% !important;
}
.feature .main-content {
  border-radius: 12px !important;
}
.feature .main-content [class*=dxp-text] {
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}
.feature .dxp-block-flexible-container {
  width: 100vw !important;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  max-width: 100vw;
}

.product-banners .main-content {
  border-radius: 0px 20px 20px 0px !important;
  width: inherit !important;
  position: absolute;
  left: 0;
  padding: 1rem 3rem 1rem 2rem;
}
.product-banners .main-content.buyers {
  right: 0;
  left: inherit;
  border-radius: 60px 0px 0px 60px !important;
}
.product-banners .main-content h3 {
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}
.product-banners .main-content-container {
  padding-bottom: 20px !important;
  padding-left: 20px !important;
}

.category .header-container .slds-p-around_small,
.category .header-container .slds-p-around--small {
  padding: 0 !important;
}
.category .header-container .slds-text-heading_large {
  padding-top: 20px !important;
}
.category .menu-container .menu {
  width: 100% !important;
}
.category .fieldsArea[class*=lwc] {
  display: grid;
  grid-area: fieldsArea;
  position: relative;
  bottom: -47px;
  background-color: rgba(39, 39, 39, 0.6);
}
.category .fieldsArea[class*=lwc] a {
  color: #ffffff !important;
}
.category .productImage img {
  height: 220px;
  object-fit: fill;
  object-position: center;
}

.orders .slds-grid {
  flex-wrap: wrap;
}
.orders .filter-text,
.orders .slds-form-element__label,
.orders .slds-input {
  color: #666666;
  font-size: 13px !important;
}
.orders .slds-button {
  font-size: 13px !important;
}
.orders .record-count {
  font-size: 14px;
  margin-bottom: 10px;
}
.orders [data-cell-id=orderInfo],
.orders [data-cell-id=actions] {
  width: 100% !important;
}
.orders [data-cell-id=actions] {
  padding-top: 20px;
}
.orders [data-cell-id=actions] a {
  font-size: 13px;
}
.orders [data-cell-id=orderInfo] .slds-no-space {
  color: #999999;
  font-size: 12px;
  width: 100%;
}
.orders [data-cell-id=orderInfo] .slds-rich-text-editor__output {
  font-size: 13px;
  width: 100%;
}

[data-component-label="Quick Order"] {
  border-radius: 12px;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
}

.testimonials {
  background-color: #f5f5f5 !important;
}
.testimonials .main-content-container {
  padding: 20px 0 !important;
}
.testimonials .main-content-container .main-content {
  border-radius: 10px;
}

.tile-menu .comm-tile-menu__icon-section {
  position: relative;
  height: fit-content !important;
  padding-top: 20px !important;
}
.tile-menu .comm-tile-menu__item-link {
  width: 80% !important;
}
.tile-menu .comm-tile-menu__item-tile {
  height: 100px !important;
}

.commerce-footer .social-media-icons {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.footer ul {
  list-style: disc;
  padding-left: 20px;
}
.footer ul li.slds-p-vertical_small {
  padding-bottom: 4px;
  padding-top: 4px;
}

.results_custom .filters-header {
  background-color: #f4f4f4;
  padding: 1rem 1rem;
}
.results_custom .category-tree-section {
  margin-top: 0 !important;
}
.results_custom .card-item .cardContainerGrid {
  margin: 1rem;
  border-radius: 1.24rem;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  padding: 0rem 1.25rem;
}
.results_custom .card-item .cardContainerGrid:hover {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
}
.results_custom .card-item .cardContainerGrid .callToActionArea {
  justify-self: stretch;
  margin-top: 12px;
}
.results_custom .card-item .cardContainerGrid .callToActionArea > div:first-child {
  width: 100%;
}
.results_custom .callToActionButton {
  width: 100%;
  display: inline-grid;
  height: 2.8rem !important;
}
.results_custom .fieldsArea .slds-text-link_reset div:first-child .slds-text-heading_medium {
  font-size: 1.15rem;
  font-weight: 700;
}
.results_custom .category-tree-section h2,
.results_custom .category-tree-section .facets-section .facet-header .facet-name[class*=lwc-] {
  text-transform: uppercase;
}
.results_custom .category-tree-section .categories li a {
  font-size: 1rem;
  font-weight: inherit;
}
.results_custom .filters-header .clear-all .slds-button {
  color: #666;
  border: 1px solid #c9c9c9;
  padding: 2px 20px;
  border-radius: 4px;
  background-color: #fff;
}
.results_custom .quantitySelectorContainer label,
.results_custom .quantitySelectorContainer .number-input__input {
  color: var(--dxp-g-neutral-3);
  fill: var(--dxp-g-neutral-3);
}
.results_custom .cardContainerGrid .priceArea {
  min-height: 36px;
}
.results_custom .cardContainerGrid .imageArea .productImage img {
  max-height: 220px !important;
  min-height: 220px !important;
  object-fit: contain;
  padding: 2rem 1rem 1rem 1rem;
}

.product-overview .product-title h1 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
}
.product-overview .product-title .slds-p-top_x-small {
  padding-bottom: 10px;
  padding-top: 0 !important;
}
.product-overview .product-title .slds-rich-text-editor__output,
.product-overview .product-title .slds-p-top_x-small p {
  color: #666666 !important;
  font-size: 14px;
  line-height: 22px !important;
}
.product-overview .product-title .slds-rich-text-editor__output {
  position: relative;
  top: -2px;
}
.product-overview .product-pricing .main-price {
  font-size: 32px;
}
.product-overview .product-pricing .promotional-message .slds-rich-text-editor__output {
  font-size: 14px;
  background-color: #efefef;
  border-radius: 10px !important;
  display: block;
  padding: 5px;
  padding-left: 10px;
}
.product-overview .product-pricing .lowest-unit-price .lowest-price-label,
.product-overview .product-pricing .lowest-unit-price .lowest-price {
  color: #999999;
  font-size: 14px !important;
}
.product-overview .product-options {
  margin: 1rem 0;
  border-bottom: 1px solid #d9d9d9 !important;
  border-top: 1px solid #d9d9d9 !important;
  display: block;
}
.product-overview .product-options .slds-select {
  border-color: #d5d9d9 !important;
  color: #666666;
  font-size: 14px;
}
.product-overview .product-options .slds-form-element__label {
  color: #666666;
  font-size: 14px;
  padding-top: 0;
}
.product-overview .product-actions {
  height: 60px;
}
.product-overview .product-actions label.slds-m-right_x-small {
  color: #666666;
  font-size: 14px;
}
.product-overview .tier-discounts .pricing-tiers {
  width: 100%;
}
.product-overview .tier-discounts .pricing-tiers .adjustment-tiers-container {
  background-color: #efefef;
  border-radius: 8px;
  border-color: transparent;
  padding: 10px 20px;
}
.product-overview .tier-discounts .pricing-tiers .adjustment-tiers-container .tier-row-title {
  font-size: 14px;
  font-weight: 500;
  width: 50%;
}
.product-overview .tier-discounts .pricing-tiers .adjustment-tiers-container .tier {
  border-left: 0;
  font-size: 14px;
  width: 50%;
  text-align: right;
}

.breadcrumb ol li {
  font-size: 14px !important;
}

.sets {
  background-color: #f5f5f5;
}

.product-recommendations-container .product-recommendations section.slds-accordion__section,
.product-recommendations-container .product-recommendations section.slds-accordion__section .slds-accordion__summary {
  padding: 0;
}
.product-recommendations-container .product-recommendations section.slds-accordion__section .slds-accordion__summary,
.product-recommendations-container .product-recommendations section.slds-accordion__section .slds-accordion__summary .slds-accordion__summary {
  margin: 0;
}
.product-recommendations-container .product-recommendations section .slds-button {
  font-size: 18px !important;
  font-weight: 700;
}
.product-recommendations-container .product-recommendations .slds-accordion__content {
  margin-top: 10px;
}
.product-recommendations-container .product-recommendations .slds-accordion__content .slds-col article {
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid #dfdfdf;
  padding: 20px;
  max-width: 320px;
  min-height: 440px;
}
.product-recommendations-container .product-recommendations .slds-accordion__content .slds-col article img {
  max-width: 220px;
  max-height: 220px;
}
.product-recommendations-container .product-recommendations .slds-accordion__content .slds-col article div a {
  display: flex;
  justify-content: center;
  width: 100%;
}
.product-recommendations-container .product-recommendations .slds-accordion__content .slds-col article h1.slds-text-heading_medium {
  font-size: 16px;
  font-weight: 700;
}
.product-recommendations-container .product-recommendations .slds-accordion__content .slds-col article p.slds-text-body_small {
  color: #666666;
  font-size: 14px;
  font-weight: 500;
}
.product-recommendations-container .product-recommendations .slds-accordion__content .slds-col article .slds-form-element {
  margin-top: 1rem;
}
.product-recommendations-container .product-recommendations .slds-accordion__content .slds-col article .slds-form-element .slds-text-heading_small {
  font-size: 1rem;
  font-weight: 700;
}
.product-recommendations-container .product-recommendations .slds-accordion__content .slds-col article .slds-form-element .slds-form-element__addon {
  margin: 0;
}
.product-recommendations-container .product-recommendations .slds-accordion__content .slds-col article .slds-form-element .slds-text-title_caps {
  margin-right: 40px;
}
.product-recommendations-container .product-recommendations .slds-accordion__content .slds-col article .slds-form-element .slds-input {
  border-color: #dfdfdf;
  margin-right: 4px;
  width: 80px;
}
.product-recommendations-container .product-recommendations .slds-accordion__content .slds-col article .slds-form-element .slds-button_icon-border {
  border-color: #dfdfdf;
}

.product-details .slds-tabs_default .slds-tabs_default__nav {
  border-bottom-color: #dfdfdf;
}
.product-details .slds-tabs_default .slds-tabs_default__nav li.dxp-tab {
  min-width: 80px;
}
.product-details .slds-tabs_default .slds-tabs_default__nav li.dxp-tab:focus-visible {
  outline: none;
}
.product-details .slds-tabs_default .dxp-tab-bar-active-tab-styles {
  background-color: #efefef;
  border-radius: 4px 4px 0 0;
}
.product-details .slds-tabs_default li p {
  font-size: 14px;
  text-align: center;
}
.product-details .slds-tabs_default .slds-tabs_default__content ul {
  display: flex;
}
.product-details .slds-tabs_default .slds-tabs_default__content ul li {
  max-width: 150px;
  max-height: 150px;
  height: 120px;
  width: 150px;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: 14px;
  margin: 10px;
}
.product-details .slds-tabs_default .slds-tabs_default__content ul li .slds-icon {
  fill: #666666;
  margin-bottom: 6px;
}
.product-details:focus-visible {
  outline: none;
}
.product-details .cb-outputRichText-container.ql-editor p,
.product-details .cb-outputRichText-container li {
  font-size: 14px !important;
  line-height: 22px;
}
.product-details .sample-products-pill {
  margin: 20px 0 10px !important;
}
.product-details .sample-products-pill .slds-pill {
  border: none;
  padding: 10px;
  border-radius: 8px;
  background-color: #dfdfdf;
  color: #666666;
  font-size: 13px;
  width: 100%;
}
.product-details .sample-products-pill .slds-pill .slds-icon {
  fill: #666666;
  width: 16px;
  height: 20px;
}
.product-details .interactions-component .slds-rich-text-editor__output {
  font-size: 14px;
}
.product-details .interactions-component p {
  font-size: 14px !important;
}
.product-details .tech-details-table tr.slds-hint-parent:nth-child(odd) {
  background-color: #f8f8f8;
}

.product-set {
  margin-top: 20px;
}
.product-set .product-set__items .product-set-item__contents.slds-p-left_x-small {
  padding-left: 20px !important;
}
.product-set .product-set__items .product-set-item__image {
  border: 1px solid #dfdfdf;
  max-width: 60px !important;
  max-height: 60px !important;
}
.product-set .product-set__items .product-set-item__heading .slds-p-top_x-small {
  padding-top: 0 !important;
}
.product-set .product-set__items .product-set-item__heading .slds-p-top_x-small:first-child {
  font-size: 16px;
  font-weight: 700;
}
.product-set .product-set__items .product-set-item__heading .slds-p-top_x-small:nth-child(2) {
  color: #666666;
  font-size: 14px;
  font-weight: 500;
}
.product-set .product-set__items .product-set-item__actions {
  justify-content: space-between;
}
.product-set .product-set__items .product-set-item__actions label {
  color: #777777;
  font-size: 14px;
}
.product-set .product-set__items .product-set-item__actions .slds-grid_vertical-reverse {
  flex-direction: row !important;
}
.product-set .product-set__items .product-set-item__actions .price-label {
  font-size: 18px;
}
.product-set .product-set__items .product-set-item__actions .original-price {
  color: #666666;
}
.product-set .product-set__items .product-set-item__actions .negotiated-price {
  color: var(--dxp-g-brand);
}

.frequently-bought-together-container .frequently-bought-together {
  width: fit-content;
}
.frequently-bought-together-container .frequently-bought-together .frequently-bought-together-item {
  border: 1px solid #dfdfdf;
  border-radius: 12px;
  padding: 10px;
  max-width: 250px;
}
.frequently-bought-together-container .frequently-bought-together .frequently-bought-together-item .frequently-bought-together-item__image {
  max-height: 220px;
  max-width: 220px;
}

.cart_custom section.empty .interactions-element .slds-button.slds-button_brand {
  padding: 0rem 3rem;
}
.cart_custom section.items button.clear-cart-button {
  border: 1px solid #999;
  padding: 0rem 1.5rem;
  height: 2.5rem;
}
.cart_custom .slds-combobox__input.slds-input_faux {
  height: 2.5rem;
  line-height: 2.5rem;
  color: #747474;
}
.cart_custom .main a.description-name-label {
  color: #333333;
}
.cart_custom .main .main_details_description_fields {
  margin-top: 0.7rem;
  line-height: 1.6rem;
}
.cart_custom .main .main_actions .main_actions_remove.slds-button button.slds-button {
  border: 1px solid #999;
  padding: 0rem 1.5rem;
  height: 2.5rem;
  margin-left: 0.5rem;
  color: #c23934;
}
.cart_custom .main .main_actions .main_actions_quantity .number-input__input,
.cart_custom .main .main_actions .main_actions_quantity .number-input__increment-button,
.cart_custom .main .main_actions .main_actions_quantity .number-input__increment-button svg {
  color: var(--dxp-g-neutral-3);
  fill: var(--dxp-g-neutral-3);
  border-color: var(--dxp-g-neutral-3);
}
.cart_custom .product-image img {
  border: 1px solid #dfdfdf;
  height: 120px;
  width: 120px;
  object-fit: contain;
}

.cart_summary {
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.25);
  display: block;
  height: auto;
}
.cart_summary .item.total-price {
  border-top: 1px solid #dfdfdf;
  padding-top: 1rem;
}

.coupons_custom .coupon-input-form .slds-input.text-input__input {
  border-color: #747474;
}
.coupons_custom .slds-button_brand:disabled, .coupons_custom .slds-button_brand[disabled] {
  border-color: #c9c9c9;
  color: #e5e5e5 !important;
  background-color: white;
}

@media (min-width: 64em) {
  .checkout-container .columns-content {
    gap: 10px;
  }
}
.checkout-container .page-title h1 {
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
}
.checkout-container header[class^=lwc-] {
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 20px;
}
.checkout-container header[class^=lwc-] div[slot=title][class^=lwc-] {
  padding-bottom: 8px;
}
.checkout-container h2 {
  color: #666666 !important;
  font-size: 24px !important;
  font-weight: 300 !important;
  line-height: 28px;
}
.checkout-container .contact-info .contact-info-form {
  display: block;
}
.checkout-container .contact-info .contact-info-form .slds-input {
  border-color: #c9c9c9 !important;
}
.checkout-container .contact-info .contact-info-form .slds-form-element__control .slds-grid .slds-no-flex {
  padding-right: 10px;
}
.checkout-container .shipping-info .shipping-address .address-stretch[class^=lwc-] {
  align-items: flex-start;
  flex-direction: row;
  font-size: 14px;
  padding: 0 20px;
}
.checkout-container .shipping-info .shipping-address .buttons[class^=lwc-] {
  margin-bottom: 20px;
}
.checkout-container .shipping-info .shipping-address commerce_unified_checkout-input-address[class^=lwc-] {
  background: #f4f4f4;
  border-radius: 4px;
  display: block;
  padding: 20px;
}
.checkout-container .shipping-info .shipping-address commerce_unified_checkout-input-address[class^=lwc-] h3.address-header {
  font-size: 16px !important;
  font-weight: bold !important;
}
.checkout-container .shipping-info .shipping-address commerce_unified_checkout-input-address[class^=lwc-] .slds-input,
.checkout-container .shipping-info .shipping-address commerce_unified_checkout-input-address[class^=lwc-] .slds-textarea {
  border-color: #c9c9c9 !important;
}
.checkout-container .shipping-info .shipping-instructions .slds-input {
  border-color: #c9c9c9 !important;
  margin-top: 4px;
}
.checkout-container .payment-info .payment-info-form .slds-accordion__list-item {
  border: none;
  margin-bottom: 10px;
}
.checkout-container .payment-info .payment-info-form .accordion-section .accordion-summary {
  background-color: transparent;
}
.checkout-container .payment-info .payment-info-form .accordion-section .accordion-content {
  border: none !important;
  padding: 10px 20px;
}
.checkout-container .payment-info .payment-info-form .accordion-section .accordion-content .slds-input,
.checkout-container .payment-info .payment-info-form .accordion-section .accordion-content .slds-textarea {
  border-color: #c9c9c9 !important;
}
.checkout-container .payment-info .payment-info-form .accordion-section .accordion-content .slds-form-element__control .slds-grid .slds-no-flex {
  padding-right: 10px;
}
.checkout-container .payment-info .payment-info-form .accordion-section .accordion-content commerce_builder-checkout-billing-info commerce_unified_checkout-input-address {
  background: #f4f4f4;
  border-radius: 4px;
  display: block;
  padding: 20px;
}
.checkout-container .payment-info .payment-info-form .accordion-section .accordion-content commerce_builder-checkout-billing-info commerce_unified_checkout-input-address .slds-input,
.checkout-container .payment-info .payment-info-form .accordion-section .accordion-content commerce_builder-checkout-billing-info commerce_unified_checkout-input-address .slds-textarea {
  border-color: #c9c9c9 !important;
}
.checkout-container .payment-info .payment-info-form .billing-address-form commerce_unified_checkout-input-address {
  background: #f4f4f4;
  border-radius: 4px;
  display: block;
  padding: 20px;
}
.checkout-container .payment-info .payment-info-form .billing-address-form commerce_unified_checkout-input-address .slds-input,
.checkout-container .payment-info .payment-info-form .billing-address-form commerce_unified_checkout-input-address .slds-textarea {
  border-color: #c9c9c9 !important;
}
.checkout-container commerce_builder-cart-summary-design-substitute.order-summary {
  display: block;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
}
.checkout-container commerce_builder-cart-summary-design-substitute.order-summary header[class^=lwc-] {
  border-bottom: none;
  margin-bottom: 0;
}
.checkout-container commerce_builder-cart-summary-design-substitute.order-summary .total-price {
  border-top: 1px solid #c9c9c9;
  padding-top: 10px;
}
.checkout-container .checkout-notification {
  margin-bottom: 40px;
}
.checkout-container .checkout-notification h2 {
  color: #ffffff !important;
  font-size: 16px !important;
  font-weight: bold !important;
}
.checkout-container .checkout-notification .dxp-text-body-small,
.checkout-container .checkout-notification .slds-text-body--small,
.checkout-container .checkout-notification .slds-text-body_small,
.checkout-container .checkout-notification a {
  font-size: 14px !important;
  font-weight: normal !important;
}
.checkout-container .checkout-notification .slds-scoped-notification {
  border-radius: 4px;
}
.checkout-container .checkout-notification .slds-theme_error {
  background-color: #a2302b !important;
}
.checkout-container .place-order-cta button.slds-button_brand {
  padding: 5px 0;
}

.order_products_custom h2.slds-accordion__summary-heading .slds-accordion__summary-action {
  border-bottom: 1px solid #c9c9c9;
  margin-bottom: 1rem;
}
.order_products_custom .field-properties {
  font-weight: 700;
}
.order_products_custom .field-properties .shipping-field-item {
  margin-left: -1rem;
}
.order_products_custom .field-properties .shipping-field-item commerce-field-display {
  margin-left: 0.3rem;
}
.order_products_custom ul figure a img {
  border: 1px solid #dfdfdf;
}
.order_products_custom ul .item-details, .order_products_custom ul .variants li {
  color: #666666;
  font-size: 0.85rem;
  margin-top: 0.3rem;
}
.order_products_custom ul .item-details .item-name a, .order_products_custom ul .variants li .item-name a {
  color: #333;
  font-weight: 700;
  font-size: 1rem;
}

.order_details section.details-card {
  padding: 1rem 0.5rem;
}
.order_details section.details-card .slds-card__header h2.slds-text-title_bold {
  font-size: 18px;
  margin-bottom: 1rem;
}
.order_details section.details-card .slds-dl_inline .field-item {
  font-size: 14px;
  line-height: 1.6rem;
}
.order_details section.details-card .slds-dl_inline__label {
  color: #666;
}
.order_details section.details-card .slds-dl_inline__label .slds-rich-text-editor__output {
  font-size: 14px;
  line-height: 1.6rem;
}

.order_amount .totals-card {
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.25);
  padding: 1rem 0.5rem;
}
.order_amount .totals-card .slds-card__header h2.slds-text-title_bold {
  font-size: 18px;
  margin-bottom: 1rem;
}
.order_amount .totals-card .field-item.slds-text-title_bold {
  margin-top: 1rem;
  padding-top: 1rem;
}
.order_amount .totals-card .field-item.slds-text-title_bold .slds-dl_inline__label .slds-rich-text-editor__output,
.order_amount .totals-card .field-item.slds-text-title_bold .slds-dl_inline__detail {
  font-size: 18px;
  color: var(--com-c-order-totals-text-color, var(--dxp-g-root-contrast));
}
.order_amount .totals-card .slds-dl_inline .field-item {
  font-size: 14px;
  line-height: 1.6rem;
}
.order_amount .totals-card .slds-dl_inline__label {
  color: #666;
}
.order_amount .totals-card .slds-dl_inline__label .slds-rich-text-editor__output {
  font-size: 14px;
  line-height: 1.6rem;
}

.order_promotions_card .summary-section {
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.25) !important;
  padding: 1.3rem;
}
.order_promotions_card .summary-section .summary-header {
  color: var(--dxp-g-root-contrast);
  font-size: 18px;
}
.order_promotions_card .summary-section dl.applied-promotion {
  font-size: 14px;
}

.order_lookup_custom .order-lookup .order-lookup__form__fields {
  margin: inherit !important;
}
.order_lookup_custom .order-lookup .order-lookup__form__fields .slds-form-element__label {
  font-size: 12px;
  font-weight: inherit;
}
.order_lookup_custom .order-lookup .order-lookup__form__fields #phone-number-field {
  margin-left: 0.5rem;
}

.address_form_custom h2.address-header {
  text-align: left !important;
  font-weight: 300 !important;
  font-size: 32px !important;
}
.address_form_custom .address-form-align {
  margin: inherit !important;
}

.record-detail-container .record-detail.slds-card {
  border: none !important;
  border-color: transparent;
  box-shadow: none !important;
}
.record-detail-container .record-detail h3.slds-section__title {
  margin-top: 20px;
}
.record-detail-container .record-detail h3.slds-section__title span[class*=section-header-title] {
  color: var(--dxp-g-brand);
  font-size: 18px;
  font-weight: bold;
}
.record-detail-container .record-detail .slds-section__content .slds-form-element__label {
  color: #666666;
  font-size: 12px;
}

.my-account-title h1 {
  font-size: 32px;
}

.my-account-data .my-account-data-nav h2.slds-nav-vertical__title {
  display: none;
}
.my-account-data .my-account-data-nav lightning-vertical-navigation-item.slds-is-active {
  box-shadow: inset 4px 0 0 var(--dxp-g-brand) !important;
  -webkit-box-shadow: inset 4px 0 0 var(--dxp-g-brand) !important;
}
.my-account-data .my-account-data-nav lightning-vertical-navigation-item.slds-is-active .slds-nav-vertical__action {
  box-shadow: inset 4px 0 0 var(--dxp-g-brand) !important;
  -webkit-box-shadow: inset 4px 0 0 var(--dxp-g-brand) !important;
}
.my-account-data .my-account-data-nav lightning-vertical-navigation-item.slds-nav-vertical__item.slds-is-active:before, .my-account-data .my-account-data-nav lightning-vertical-navigation-item.slds-nav-vertical__item:hover:before {
  background: #F4F4F4 !important;
}
.my-account-data .my-account-data-nav lightning-vertical-navigation-item .slds-nav-vertical__action:hover {
  box-shadow: inset 4px 0 0 var(--dxp-g-brand) !important;
  -webkit-box-shadow: inset 4px 0 0 var(--dxp-g-brand) !important;
}
.my-account-data .my-account-data-nav lightning-vertical-navigation-item a, .my-account-data .my-account-data-nav lightning-vertical-navigation-item a:link:not(.slds-button, .slds-dropdown__item > a), .my-account-data .my-account-data-nav lightning-vertical-navigation-item a:visited:not(.slds-button, .slds-dropdown__item > a) {
  color: #666666 !important;
  text-decoration: none;
}
.my-account-data .my-account-data-title h2.dxp-text-heading-large {
  font-size: 24px;
  margin-bottom: 20px;
}
.my-account-data .my-account-data-card .slds-size_1-of-6 {
  display: none;
}
.my-account-data .my-account-data-card .slds-size--5-of-6, .my-account-data .my-account-data-card .slds-size_5-of-6 {
  width: 100%;
}
.my-account-data .my-account-data-card .main-content-container {
  padding: 20px !important;
}
@media (min-width: 64em) {
  .my-account-data .my-account-data-profile dxp_layout-column-spacer {
    padding: 0;
    width: 40px;
  }
}
.my-account-data .my-account-data-profile .contact-information .slds-card, .my-account-data .my-account-data-profile .password-reset .slds-card {
  border: none;
  border-radius: 0;
  box-shadow: none !important;
}
.my-account-data .my-account-data-profile .contact-information .slds-card .slds-card__header, .my-account-data .my-account-data-profile .password-reset .slds-card .slds-card__header {
  margin: 0;
}
.my-account-data .my-account-data-profile .contact-information .slds-card .slds-card__header .slds-media__body .slds-card__header-title, .my-account-data .my-account-data-profile .password-reset .slds-card .slds-card__header .slds-media__body .slds-card__header-title {
  display: none;
}
.my-account-data .my-account-data-profile .contact-information .slds-card .slds-card__header button.slds-button, .my-account-data .my-account-data-profile .password-reset .slds-card .slds-card__header button.slds-button {
  border: 1px solid var(--dxp-g-brand);
  padding: 2px 20px;
}
.my-account-data .my-account-data-profile .contact-information .slds-card .slds-card__body .slds-form-element__label, .my-account-data .my-account-data-profile .password-reset .slds-card .slds-card__body .slds-form-element__label {
  color: #666666;
  font-size: 14px;
  font-weight: normal !important;
}
.my-account-data .my-account-data-profile .contact-information .slds-card .slds-card__body .slds-input[readonly], .my-account-data .my-account-data-profile .password-reset .slds-card .slds-card__body .slds-input[readonly] {
  border-bottom: 1px solid #D9D9D9;
  color: #333333;
  font-weight: bold;
}
.my-account-data .my-account-data-profile .contact-information .slds-card .slds-card__body .slds-input:focus, .my-account-data .my-account-data-profile .contact-information .slds-card .slds-card__body .slds-input:not[readonly], .my-account-data .my-account-data-profile .password-reset .slds-card .slds-card__body .slds-input:focus, .my-account-data .my-account-data-profile .password-reset .slds-card .slds-card__body .slds-input:not[readonly] {
  border: 1px solid #D9D9D9 !important;
  border-color: #d9d9d9 !important;
  color: #333333 !important;
  font-weight: normal !important;
  padding-left: 12px;
}
.my-account-data .order-list fieldset .filter-text, .my-account-data .order-list fieldset .slds-form-element__label, .my-account-data .order-list fieldset .slds-input {
  color: #666666;
  font-size: 14px;
}
.my-account-data .order-list fieldset .slds-input {
  border-color: #C9C9C9 !important;
}
.my-account-data .order-list .slds-button {
  font-size: 14px;
}
.my-account-data .address-list .slds-tabs_default__nav .slds-active, .my-account-data .address-list .slds-tabs_default__nav .slds-is-active {
  background-color: #EDEDED;
  border-radius: 8px 8px 0px 0px;
}
.my-account-data .address-list .slds-tabs_default__nav .slds-tabs--default__item, .my-account-data .address-list .slds-tabs_default__nav .slds-tabs_default__item {
  color: #333333 !important;
  margin-right: 4px;
}
.my-account-data .address-list .slds-tabs_default__nav .slds-tabs_default__link, .my-account-data .address-list .slds-tabs_default__nav .slds-tabs--default__item.slds-active .slds-tabs--default__link, .my-account-data .address-list .slds-tabs_default__nav .slds-tabs--default__item.slds-active .slds-tabs_default__link, .my-account-data .address-list .slds-tabs_default__nav .slds-tabs--default__item.slds-is-active .slds-tabs--default__link, .my-account-data .address-list .slds-tabs_default__nav .slds-tabs--default__item.slds-is-active .slds-tabs_default__link, .my-account-data .address-list .slds-tabs_default__nav .slds-tabs_default__item.slds-active .slds-tabs--default__link, .my-account-data .address-list .slds-tabs_default__nav .slds-tabs_default__item.slds-active .slds-tabs_default__link, .my-account-data .address-list .slds-tabs_default__nav .slds-tabs_default__item.slds-is-active .slds-tabs--default__link, .my-account-data .address-list .slds-tabs_default__nav .slds-tabs_default__item.slds-is-active .slds-tabs_default__link {
  color: #333333 !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}
.my-account-data .address-list .slds-tabs--default__nav, .my-account-data .address-list .slds-tabs_default__nav {
  border-bottom-color: #dadada;
}
.my-account-data .address-list .address-container {
  display: flex;
}
.my-account-data .address-list .address-container.address-grid-gap-small {
  grid-gap: 20px;
}
.my-account-data .address-list .address-container .address-card-style-class {
  background-color: #ffffff;
  border: none !important;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 250px;
}
.my-account-data .address-list .address-container .address-card-style-class .dxp-text-body-regular {
  font-size: 14px;
}
.my-account-data .address-list .address-container .address-card-style-class h3.name-decoration {
  color: var(--dxp-g-brand);
}
.my-account-data .address-list .address-container .address-card-style-class .address-card-body {
  min-height: auto;
}
.my-account-data .address-list .address-container .address-card-style-class .address-footer-style {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}
.my-account-data .address-list .address-container .address-card-style-class .address-footer-style .address-footer-button-style {
  font-size: 14px !important;
  max-width: 100%;
  text-decoration: none !important;
}
.my-account-data .address-list .address-container .address-card-style-class .address-footer-style button:nth-child(1) {
  background-color: var(--dxp-g-brand);
  color: #ffffff;
  height: 40px;
}
.my-account-data .address-list .address-container .address-card-style-class .address-footer-style button:nth-child(2) {
  margin-left: 0;
}
.my-account-data .address-list .show-more-button {
  margin-top: 20px;
}
.my-account-data .approvals article.slds-card {
  border: none !important;
  border-radius: 0;
  box-shadow: none;
}
.my-account-data .approvals article.slds-card .slds-card__header {
  display: none;
}
.my-account-data .approvals article.slds-card .slds-table--header-fixed_container, .my-account-data .approvals article.slds-card .slds-table_header-fixed_container {
  background-color: #F3F3F3;
}
.my-account-data .invoices .main-content .cta-buttons, .my-account-data .quotes .main-content .cta-buttons {
  min-height: fit-content;
}
.my-account-data .invoices .main-content .interactions-region .component-wrapper-spacer, .my-account-data .quotes .main-content .interactions-region .component-wrapper-spacer {
  margin-bottom: 0;
}
.my-account-data .invoices .main-content .interactions-region .dxp-text-body-small, .my-account-data .quotes .main-content .interactions-region .dxp-text-body-small {
  color: #666666;
  font-size: 12px;
  line-height: 14px;
}
.my-account-data .invoices .main-content .interactions-region .dxp-text-body, .my-account-data .quotes .main-content .interactions-region .dxp-text-body {
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}

.order_lookup_custom .order-lookup .order-lookup__form__fields {
  margin: inherit !important;
}
.order_lookup_custom .order-lookup .order-lookup__form__fields .slds-form-element__label {
  font-size: 12px;
  font-weight: inherit;
}
.order_lookup_custom .order-lookup .order-lookup__form__fields #phone-number-field {
  margin-left: 0.5rem;
}

.address_form_custom h2.address-header {
  text-align: left !important;
  font-weight: 300 !important;
  font-size: 32px !important;
}
.address_form_custom .address-form-align {
  margin: inherit !important;
}

@media only screen and (min-width: 992px) {
  .b2b_home header[class*=lwc-] {
    padding: 0 1rem 1rem 1rem !important;
  }
  .product-overview .product-title,
  .product-overview .product-pricing,
  .product-overview .tier-discounts {
    display: block;
    width: 60% !important;
  }
  .product-overview .product-options {
    width: 60%;
  }
  .news_cards .main-content-container {
    padding: 0rem 2rem 0rem 0rem !important;
    margin-left: -1.5rem;
  }
  .news_cards .dxp-content-layout-card-columns .dxp-block-image-host {
    background-size: contain !important;
  }
  .thanks_banner .slds-p-horizontal_x-large {
    padding: 0rem 9rem 1.5rem 9rem;
  }
  .results_custom .quantitySelectorContainer label {
    margin-right: 2rem;
  }
  .order_products_custom .field-properties .shipping-field-item {
    width: 50%;
  }
  .order_products_custom .field-properties .shipping-field-item:nth-child(2) {
    justify-content: end;
  }
  .order_products_custom .item-details .slds-col.slds-grid.slds-wrap.slds-gutters {
    width: 25%;
  }
  .order_products_custom .item-details .text-block p.dxp-text-body {
    justify-content: right;
    display: flex;
    font-weight: 700;
  }
  .order_details .details-card .slds-dl_inline .slds-dl_inline__detail {
    float: right;
  }
  .address_form_custom button.action_truncate {
    width: 48%;
    max-width: inherit !important;
  }
}
@media only screen and (max-width: 767px) {
  .benefits .card .main-content-container {
    padding: 1.5rem 1rem;
  }
  .product-set {
    margin-top: 0;
  }
  .product-set div.slds-p-right_large {
    padding-left: 0;
    padding-right: 0;
  }
  .product-set .product-set__items [class*=-host] {
    flex-direction: column !important;
  }
  .product-set .product-set__items .product-set-item__actions {
    flex-direction: column !important;
  }
  .product-set .product-set__items .product-set-item__image {
    max-width: 80px !important;
    max-height: 80px !important;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  .product-set h1 {
    text-align: center !important;
  }
  .product-overview .product-title.component-wrapper-spacer,
  .product-overview .component-wrapper-spacer {
    margin-bottom: 0 !important;
  }
  .product-overview .product-title.component-wrapper-spacer .slds-p-top_x-small,
  .product-overview .component-wrapper-spacer .slds-p-top_x-small {
    justify-content: center;
  }
  .product-overview .product-title h1,
  .product-overview .product-pricing,
  .product-overview .tier-discounts {
    text-align: center;
    width: 100% !important;
  }
  .product-overview .product-actions label.slds-m-right_x-small {
    color: #666666;
    font-size: 14px;
  }
  .product-overview .product-actions .quantity-list-action {
    flex-direction: row !important;
    justify-content: center !important;
  }
  .product-overview .product-actions .quantity-list-action > commerce-action-button {
    flex-grow: 0 !important;
  }
  .product-overview .product-actions .quantity-list-action div.container {
    flex-direction: row;
  }
  .product-overview .product-actions .quantity-list-action .number-input__input {
    width: 60px;
  }
  .product-overview .product-actions .quantity-list-action .slds-button {
    line-height: 16px;
    font-size: 13px;
  }
  .product-recommendations .slds-accordion__content .slds-col article {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .commerce-footer .footer {
    text-align: center;
  }
  .commerce-footer .social-media-icons {
    justify-content: center;
  }
  .thanks_banner .main-content.slds-p-around_x-large {
    width: 100% !important;
  }
  .news_cards .dxp-block-image-host {
    height: 165px !important;
  }
  .news_cards .main-content-container {
    padding: 0.5rem !important;
  }
  .benefits .component-wrapper-spacer {
    margin-bottom: 0.2rem !important;
  }
  .results_custom .mobile .sorting-menu .slds-combobox__input {
    padding: 0.065rem 2rem;
  }
  .feature .main-content {
    width: 100% !important;
  }
  .feature .dxp-text-heading-xlarge {
    font-size: 24px !important;
  }
  .feature .component-wrapper-spacer {
    margin-bottom: 10px !important;
  }
  .cart_custom section.items button.clear-cart-button p {
    font-size: 0.8rem;
    padding-top: 1rem;
    width: 60px;
  }
  .cart_custom .main .main_actions .main_actions_remove.slds-button button.slds-button {
    margin-left: 0;
    padding: 0.5rem 2.7rem;
  }
  .cart_custom .totalPrice .originalPrice {
    margin-left: 0.2rem;
    line-height: 1.7rem;
  }
  .cart_custom .clear-cart-section {
    margin-inline-start: auto !important;
  }
  .cart_custom section.items button.clear-cart-button p {
    font-size: 0.8rem;
    padding-top: 1rem;
  }
  .cart_custom .main .main_actions .main_actions_remove.slds-button button.slds-button {
    margin-left: 0;
    padding: 0.5rem 3rem;
    font-size: 0.8rem;
  }
  .cart_custom .totalPrice .originalPrice {
    margin-left: 0.2rem;
    line-height: 1.7rem;
  }
  .cart_custom .clear-cart-section {
    margin-inline-start: auto !important;
  }
  .address_form_custom button.action_truncate {
    width: 45%;
    max-width: inherit !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 64em) {
  .feature .main-content {
    width: 90% !important;
  }
  .content .content-container {
    padding: 0 20px !important;
  }
  .content .content-container .breadcrumb {
    padding: 0 !important;
  }
  .product-overview .product-title,
  .product-overview .product-pricing {
    display: flex;
    justify-content: center;
    width: 100% !important;
  }
  .product-overview .tier-discounts,
  .product-overview .product-options {
    display: block;
    text-align: left;
    width: 100% !important;
  }
  .product-overview h1 {
    text-align: center !important;
  }
  .product-overview .product-title.component-wrapper-spacer,
  .product-overview .component-wrapper-spacer {
    margin-bottom: 0 !important;
  }
  .product-overview .product-title.component-wrapper-spacer .slds-p-top_x-small,
  .product-overview .component-wrapper-spacer .slds-p-top_x-small {
    justify-content: center;
  }
  .product-overview .product-actions .quantity-list-action {
    flex-direction: row !important;
    justify-content: center !important;
  }
  .product-overview .product-actions .quantity-list-action div.container {
    flex-direction: row;
  }
  .product-overview .product-actions .quantity-list-action .number-input__input {
    width: 60px;
  }
  .product-overview .product-actions .quantity-list-action .slds-button {
    line-height: 16px;
  }
  .product-overview .product-actions .quantity-list-action > commerce-action-button {
    flex-grow: 0 !important;
  }
  .commerce-footer .footer {
    text-align: center !important;
  }
  .commerce-footer .footer .column-content .cb-outputRichText-container.ql-editor {
    margin: 20px 0;
  }
  .commerce-footer .social-media-icons {
    justify-content: center !important;
  }
}