::-webkit-scrollbar {
    width: 0px;
}
#lwc{
    position: relative;
    top: -9px;
    width: 50% !important;
    padding-top: 10px !important;
    margin: auto;
    padding-bottom: 10px !important;
}
@media only screen and (max-width: 600px) {
    #lwc{
        position: relative;
        top: -9px;
        width: 100% !important;
        padding-top: 10px !important;
        margin: auto;
        padding-bottom: 10px !important;
    }
}
#content{
    padding : 10px 0 10px 0;
}
.slds-scope{
    background: white !important;
}
.fix-spacer{
    position: fixed;
    bottom: 0px;
    background: white;
    height: 20px;
    width: 100%;
}